<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"/>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Compra en cuotas y sin tarjeta de crédito</p>
        <nav class="nav-header">
            <ul>
                <li><a href="#" target="_self">Ofertas</a></li>
                <li><a href="#" target="_self">Tienda Oficiales</a></li>
                <li><a href="#" target="_self">Vender</a></li>
                <li><a href="#" target="_self">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#" target="_self">Crea tu cuenta</a></li>
                <li><a href="#" target="_self">Ingresa</a></li>
                <li><a href="#" target="_self">Mis compras</a></li>
            </ul>
            <img class="banner" src="/images/img-home-banner.jpg" alt="Banner principal"/>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img class="img-product" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de producto"/>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img class="img-product" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de producto"/>
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img class="img-product" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de producto"/>
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img class="img-product" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de producto"/>
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>                
            </article>            
        </section>
      
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img class="img-product" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de producto"/>
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>                
            </article>
            <article>
                <img class="img-product" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de producto"/>
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>                
            </article>
            <article>
                <img class="img-product" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de producto"/>
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img class="img-product" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de producto"/>
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <di class="cl1">
            <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        </di>
        
        <di class="cl2">
            <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        </di>

        <di class="cl3">
            <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
        </di>
            <p class="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>