/* CSS General */
main section article i{
    background-color: #fff;
    border: 1px solid #39b54a;
    border-radius: 50%;
    display: block;
    font-size: 16px;
    padding: 5px; 
    padding: 12px 10px;
    position: absolute;
    right: 20px;
    top: -15px;   
}

body{  
    background-color: #ebebeb;     
    width: 100%;  
}

main{
    margin: auto;
    width: 90%;    
}

*{
    box-sizing: border-box ;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 12px;
}

header{
    background-color:#EAC926;
    padding-bottom: 10px;
}

/* CSS del contenido de la cabecera */

.top-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.logo{
    display: flex;
    padding: 10px;
    width: 45%;
}

.banner img{
    width: 100%;
}

.btn-busqueda{
    font-size: 12px;
    margin-left: 10px;
    padding: 2px 2px;
}

.barra-busqueda{
    align-items: center;
    display: flex;
    width: 50%;
}

.barra-busqueda input{
    font-size: 12px;
    margin: auto;
    padding: 2px 0px 2px;
    width: 75%;
}

::-webkit-input-placeholder { /*WebKit browsers*/ 
    color: #000;
}
  
:-moz-placeholder { /*Mozilla Firefox 4 to 18*/
    color: #000;
}
  
::-moz-placeholder { /*Mozilla Firefox 19+*/
    color: #000;
}
  
:-ms-input-placeholder { /*Internet Explorer 10+*/
    color: #000;
}

.mensaje{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.nav-header{
    display: none;    
} 

.burger-menu{
    display: block;
    margin-top: 20px;
    text-align: center;
}


.burger-menu i{
    background-color: #1259c3;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 6.8px 8px;
    text-align: center;
}

/* CSS del contenido del body */


section{    
    width: 100%;
}

article{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.titulares{
    color: #656b6f;
    font-size: 24px;
    margin: 20px 0px;
}

.img-product{
    display: block;
    width: 100%;
}

.box-articulo{
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
}

.precios{
    font-size: 18px;    
}

.descuento{
    color: #31b74d;
    font-size: 16px;
}

.descripcion{
    display: none;
    font-size: 16px;
}


/* CSS del contenido del pie de pagina */

.texto-footer{
    display: block;
    width: 100%;
}

.cl1 h3, .cl2 h3, .cl3 h3{
    font-size: 16px;
}

.copyright, .cl1, .cl2, .cl3{
    display: block;
    margin-bottom: 45px;
    text-align: center;
}

.cl1 i, .cl2 i, .cl3 i{
    color: #1259c3;
    display: block;
    font-size: 2em;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;

}

footer{
    margin-top: 30px;
}

/* CSS de formularios de registro y login*/

.body-fomrs{
    
}

.box-form{
    margin: 0 auto;
    padding: 50px 0px;
    width: 90%;
}

.form-label-hide{
    display: none;
}

.form-label{
    display: block;
    font-size: 18px;
}

.box-form input{
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 8px;
}

.form-radio input{
    margin-left: 8px;
    position: relative;
    top: 2px;
}

.form-checkbox input{
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.btn-form{
    background-color: #1259c3;
    color: #fff;
}

.box-form #nombre, .box-form #username, .box-form #email, .box-form #date, .box-form #domicilio, .box-form #foto, .box-form #contrasena1, .box-form #contrasena2{
    width: 100%;
}

.box-form #enviar, .box-form #borrar{
    width: 49%;
}

.box-form .btn-form2{
    background-color: #1259c3;
    color: #fff;
    width: 100% !important;
}



/* CSS para adaptación en los distintos dispositivos */
/* Mobile */
@media (min-width: 361px) {
    .descripcion{
        display: block;
    }     
}
/* Tablets */
@media (min-width: 769px) {
    .nav-header{
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
    }

    .nav-1, .nav-2{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 50%;
    }

    .nav-2{
        justify-content: flex-end;
    }

    .nav-1 li, .nav-2 li{
        margin-right: 20px;
    }

    .texto-footer{
        display: flex;
        padding: 10px;
        width: 100%;
    }

    .cl1, .cl2, .cl3{        
        list-style: none;
        padding: 0px 30px;
        width: 33.333%;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    

    .burger-menu{
        display: none !important;
    }

    section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }    
    
    article{
        margin: 10px;        
        width: 47%;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    article{
        margin: 10px;        
        width: 22.19%;
    }

    .logo{
        width: 32%;
    }
    .barra-busqueda{    
        width: 33%;
    }
    .mensaje{
        width: 32%;
    }
}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}